<div class="site-section py-0">
  <div class="owl-carousel hero-slide owl-style">
    <div class="site-section">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div
            class="img-bg"
            style="background-image: url('../../../../.{{featured_editors_pick_1.image.url}}')"
          ></div>
          <div class="contents">
            <span class="caption">Editor's Pick</span>
            <h2>
              <a href="{{featured_editors_pick_1.get_absolute_url}}"
                >{{featured_editors_pick_1.title}}</a
              >
            </h2>
            <p class="mb-3">
              {{featured_editors_pick_1.body}}
            </p>

            <div class="post-meta">
              <span class="d-block"
                ><a href="#">{{featured_editors_pick_1.author}}</a> in <a href="#">{{featured_editors_pick_1.category}}</a></span
              >
              <span class="date-read"
                >{{featured_editors_pick_1.timestamp|date:"M d"}} <span class="mx-1">&bullet;</span> 3 min read
                <span class="icon-star2"></span
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div
            class="img-bg"
            style="background-image: url('../../../../.{{featured_editors_pick_1.image.url}}')"
          ></div>
          <div class="contents">
            <span class="caption">Editor's Pick</span>
            <h2>
              <a href="{{featured_editors_pick_2.get_absolute_url}}"
                >{{featured_editors_pick_2.title}}</a
              >
            </h2>
            <p class="mb-3">
              {{featured_editors_pick_2.body}}
            </p>

            <div class="post-meta">
              <span class="d-block"
                ><a href="#">{{featured_editors_pick_2.author}}</a> in <a href="#">{{featured_editors_pick_2.category}}</a></span
              >
              <span class="date-read"
                >{{featured_editors_pick_2.timestamp|date:"M d"}} <span class="mx-1">&bullet;</span> 3 min read
                <span class="icon-star2"></span
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
